ServiceLayer/Service References/ServiceExternalProvider/ServiceExternalProvider2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3221/ServiceExternalProvider.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProviderService" />
  <xs:element name="GenerateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProviderService" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProviderService" minOccurs="0" name="GenerateRequestResult" nillable="true" type="q2:RequestREF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>